@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@media screen and (max-width: 768px){
    .rbt-toolbar {
        display: none;
    }
}

div.rbt-toolbar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
}

div.rbt-toolbar a{
    display: block;
    font-size: 0;
    line-height: 0;
}

div.rbt-toolbar a img{
    display: inline-block;
}

section.rbt-sidearea {
    width: 249px;
    height: 100%;
    min-height: 100%;
    position: fixed;
    right: -249px;
    top: 0;
    z-index: 6669991;
    -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

body.admin-bar section.rbt-sidearea {
    height: calc(100% - 32px);
    min-height: calc(100% - 32px);
    top: 32px;
}

.rbt-sidearea.rbt-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    box-shadow: -3px 2px 9px 0 rgba(0, 0, 0, 0.16);
}

.rbt-theme-dropdown,
.rbt-purchase {
    line-height: 38px;
    font-family: 'Lato', sans-serif;
    display: block;
    width: 139px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .25s cubic-bezier(0.23, 1, 0.32, 1) .45s;
    transition: all .25s cubic-bezier(0.23, 1, 0.32, 1) .45s;
}

.rbt-loaded .rbt-theme-dropdown,
.rbt-loaded .rbt-purchase{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.rbt-active .rbt-theme-dropdown,
.rbt-active .rbt-purchase {
    -webkit-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

.rbt-scrolled .rbt-theme-dropdown,
.rbt-scrolled .rbt-purchase {
    -webkit-transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

.rbt-purchase,
.rbt-theme-dropdown {
    position: absolute;
    left: -139px;
    z-index: 6669992;
    font-size: 13px !important;
    display: block;
    height: 38px;
    width: 139px;
}

.rbt-purchase {
    background-color: #ff1d4d;
    letter-spacing: .18em !important;
    font-weight: 700 !important;
}

.rbt-purchase img {
    height: 13px;
}

.rbt-theme-dropdown {
    background-color: #000;
}

.rbt-theme-dropdown img {
    height: 11px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transition: all .0s .5s;
    transition: all .0s .5s;
}

.rbt-scrolled .rbt-theme-dropdown img {
    -webkit-transition: all .2s .5s;
    transition: all .2s .5s;
}

.rbt-sidearea.rbt-active .rbt-theme-dropdown img {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: none;
    transition: none;
}

.rbt-theme-dropdown .rbt-btn,
.rbt-purchase a {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 0 !important;
    line-height: 38px !important;
}


.rbt-theme-dropdown .rbt-btn:after,
.rbt-purchase a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .07);
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.rbt-theme-dropdown .rbt-btn:hover:after,
.rbt-purchase a:hover:after {
    opacity: 1;
}


span.rbt-icon {
    color: #fff;
    width: 40px;
    display: inline-block;
    line-height: 1 !important;
    text-align: center;
    vertical-align: middle;
}

span.rbt-purchase-text,
span.rbt-text-name {
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, 0.22);
    padding-left: 9px;
    line-height: 21px !important;
    display: inline-block;
    vertical-align: middle;
}

.rbt-active .rbt-purchase-text,
.rbt-active .rbt-text-name {
    opacity: 0;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}

span.rbt-purchase-text {
    font-size: 12px !important;
}

span.rbt-text-name {
    font-size: 13px !important;
}

.rbt-list-holder {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 6669993;
}

.rbt-list {
    height: calc(100% - 70px);
    font-weight: 400;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 13px 28px;
    box-sizing: border-box;
    background-color: #1a1a1a;
    margin-right: -18px;
}

.rbt-list>a {
    display: block;
}

.rbt-list-new, .rbt-list-related {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    margin: 20px 0 10px;
    text-transform: uppercase;
    letter-spacing: .22em;
}

.rbt-theme {
    text-align: left;
    font-size: 0;
    line-height: 0;
    margin: 0 0 18px;
}

.rbt-list a:last-child .rbt-theme {
    margin: 0;
}

.rbt-img-hover{
    position: relative;
    display: inline-block;
}

.rbt-img-hover:after{
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, .15);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.rbt-theme:hover .rbt-img-hover:after{
    opacity: 1;
}


img.rbt-lazy{
    height: 70px;
    width: 194px;
    background-color: #2b2b2b;
    /* background-image: url("../img/rbt-lazyload.gif"); */
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.rbt-theme-name, .rbt-theme-tag {
    font-size: 13px !important;
    line-height: 20px !important;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

.rbt-theme-name{
    margin-right: 5px;
}

.rbt-theme-tag{
    color: #908f8f;
}

.rbt-logo {
    background-color: #1a1a1a;
    width: 100%;
    display: block;
    padding: 12px 0 27px;
    box-sizing: border-box;
}

    .rbt-logo img {
        height: 17px;
    }

.rbt-list-bottom {
    height: 70px;
    background-color: #2b2b2b;
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
    box-shadow: 0 -3px 18px 0 rgba(0, 0, 0, 0.34);
}

.rbt-social-holder {
    font-size: 0;
    line-height: 0;
    padding: 18px 19px;
}

.rbt-social-holder span {
    display: inline-block;
    margin: 0 5px;
}

.rbt-social-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px !important;
    line-height: 1em;
    margin: 0 0 15px;
    color: rgba(255, 255, 255, .55);
}

.rbt-subscribe #mce-responses > #mce-error-response{
    background-color: #ec4d4c;
}

.rbt-subscribe #mce-responses > #mce-success-response{
    background-color: #34cf84;
}

.rbt-subscribe #mc_embed_signup div.mce_inline_error{
    background-color: #ec4d4c;
}

.rbt-subscribe #mce-responses > .response,
.rbt-subscribe #mc_embed_signup div.mce_inline_error{
    position: absolute;
    bottom: 100%;
    left: 0;
    font-size: 12px !important;
    line-height: 17px !important;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    z-index: 6669995;
    color: #fff !important;
    font-weight: normal !important;
    font-style: normal !important;
    letter-spacing: 0 !important;
    text-transform: none !important;
}

.rbt-subscribe input[type="text"], .rbt-subscribe input[type="email"] {
    display: inline-block !important;
    height: 36px !important;
    line-height: 36px !important;
    width: calc(100% - 33px) !important;
    margin: 0 !important;
    padding: 0 19px !important;
    vertical-align: top !important;
    box-sizing: border-box !important;
    border: 1px solid #505050 !important;
    border-right: 0 !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    font-family: 'Lato', sans-serif !important;
    background: transparent !important;
    cursor: text !important;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    outline: none !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    font-style: normal !important;
}

.rbt-subscribe input::placeholder {
    color: #fff !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    font-family: 'Lato', sans-serif !important;
    opacity: 1;
    font-style: normal !important;
}

.rbt-subscribe input:-ms-input-placeholder {
    color: #fff !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
}

.rbt-subscribe input::-ms-input-placeholder {
    color: #fff !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
}

.rbt-subscribe input[type="submit"] {
    display: inline-block !important;
    height: 36px !important;
    line-height: 34px !important;
    width: 33px !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: top !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    background-image: url("../img/rbt-submit.png") !important;
    background-size: cover !important;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}

.rbt-social-inlist {
    text-align: center;
}

.rbt-social-inlist a{
    display: inline-block !important;
}

.rbt-social-inlist img {
    height: 23px;
}

/* todo deleted */

.rbt-all-themes {
    height: 40px;
    background-color: #34cf84;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: block;
}

.rbt-all-themes a {
    display: block;
    line-height: 38px;
}

.rbt-all-themes img {
    margin-right: 10px;
    height: 9px;
}

.rbt-all-themes-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: .18em;
}